::ng-deep .p-card {
    background-color: crimson;
    max-width: 700px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
::ng-deep .p-card-title {
    text-align: center;
}