<div class="px-4 py-8 md:px-6 lg:px-8 ml-5">
    <div class="flex flex-column lg:flex-row align-items-center gap-7">
        <div class="text-center lg:text-right">
            <div class="mt-6 mb-3 font-bold text-6xl text-900">
                ¿Estás perdido?
            </div>
            <p class="text-700 text-3xl mt-0 mb-6">
                Lo sentimos, no pudimos encontrar la página.
            </p>
            <p-button label="Volver a la página principal" styleClass="p-button-text p-button-secondary border-gray-800 text-gray-800"></p-button>
        </div>
        <div>
            <img src="assets/images/404-Error-Page.svg" alt="Imagen 404" class="w-full md:w-28rem">
        </div>
    </div>
</div>