<footer class="bg-red-600 px-4 md:px-6 lg:px-8">
    <div class="py-6 flex flex-column sm:flex-row sm:align-items-center justify-content-start">
        <div>
            <!-- <img src="./assets/images/logo_SIREDSE_2.png" alt="Logo" width="90" class="bg-white border-round-xl"> -->
            <h3 class="text-white text-5xl">SIREDSE</h3>
            <div class="mt-2 text-gray-400 line-height-3">© 2023 Semillero de Investigacion en Redes de Computadores y Seguridad Informatica. Todos los derechos reservados</div>
        </div>
    </div>
</footer>